.ci-custom [data-bs-target]{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
.ci-custom-2 [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.ci-custom-2 {
	top: 10% !important;
	left: 7% !important;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	display: block;
    width: 100px;
}
.ci-custom-2 button{
    display: block;
}
 
.ccprev {
    left: 80% !important;
}
.ccprev, .ccnext {
    width: 13%;
    top: 90% !important;
    bottom: 0 !important;
}